In [131]:
import pandas as pd
import random
import math

In [132]:
df=pd.read_csv('/content/Creditcard_data.csv');

#Analyzing the class category

In [133]:
df['Class'].value_counts()

0    763
1      9
Name: Class, dtype: int64

In [134]:
X=df.drop('Class', axis=1)
y=df['Class']

In [135]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,575,-0.572263,0.731748,1.541254,0.150506,1.108974,0.372152,1.084879,-0.146329,-0.274447,...,0.056544,-0.143508,-0.107582,-0.418263,-0.731029,0.877525,-0.364150,-0.177509,-0.256545,26.72
768,579,-1.296845,-0.511605,2.404726,-0.310762,-0.319551,-0.542842,-0.173310,0.260423,-1.202688,...,-0.349668,-0.071270,-0.161175,0.088496,0.285390,0.281069,-0.370130,0.043410,0.092318,80.00
769,579,1.214170,0.210481,0.484651,0.479768,-0.261955,-0.527039,0.021782,-0.106888,-0.037631,...,-0.071540,-0.224292,-0.594609,0.159877,0.091873,0.140964,0.227406,-0.017389,0.016030,5.98
770,580,1.267030,-0.071114,0.037680,0.512683,0.242392,0.705212,-0.226582,0.109483,0.657565,...,-0.066990,-0.164468,-0.177225,-0.222918,-1.245505,0.678360,0.525059,0.002920,-0.003333,12.36
771,581,1.153758,0.132273,0.382969,1.405063,-0.224287,-0.197295,0.020653,0.029260,0.412254,...,-0.230877,-0.107809,-0.125231,-0.057041,0.073082,0.633977,-0.310685,0.033590,0.015250,13.79

In [136]:
y

0      0
1      1
2      0
3      0
4      0
      ..
767    0
768    0
769    0
770    0
771    0
Name: Class, Length: 772, dtype: int64

#Scaling the data

In [137]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scale = pd.DataFrame(scaler.fit_transform(X))

In [138]:
X_scale

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-1.648034,-0.914180,-0.247263,1.610900,0.868503,-0.303702,0.247620,0.136543,0.188336,0.449139,...,0.323467,-0.038091,0.617686,-0.195625,0.111783,0.033076,-0.437881,0.366449,-0.014410,0.409447
1,-1.648034,1.057914,0.041770,-0.687243,0.129200,0.059272,-0.197113,-0.237378,0.171947,-0.256424,...,-0.232448,-0.378795,-0.892627,0.395078,-0.543138,0.123043,0.213082,-0.107521,0.114215,-0.333712
2,-1.642211,-0.913057,-1.328056,0.870859,0.074846,-0.453941,1.340056,0.784631,0.367913,-1.691257,...,0.797984,0.399235,1.431487,2.649315,-1.105739,-1.029321,-0.334519,-0.261707,-0.153538,1.567910
3,-1.642211,-0.610030,-0.343153,0.890044,-0.913332,-0.004811,0.888345,0.134206,0.524325,-1.545829,...,-0.473472,-0.185878,0.168529,-0.418355,-1.888690,1.241390,-0.505691,0.130911,0.282230,0.277334
4,-1.636388,-0.758390,0.563316,0.653161,0.093332,-0.366460,-0.051563,0.551496,-0.256731,0.966396,...,0.596017,-0.023514,1.475319,-0.270897,0.231472,-0.746053,0.990903,0.651959,0.834790,0.006685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,1.700384,-0.305514,0.438820,0.645924,-0.107415,1.015100,0.173951,1.129212,-0.107017,-0.278098,...,-0.014542,-0.243696,-0.017445,-1.054194,-1.172956,1.777382,-0.799590,-0.667892,-0.861042,-0.212171
768,1.723677,-0.865518,-0.621481,1.483262,-0.474099,-0.286599,-0.573051,-0.348364,0.383279,-1.335786,...,-0.719137,-0.125066,-0.105762,0.359394,0.463514,0.388301,-0.811947,0.066694,0.393180,0.057315
769,1.723677,1.075160,-0.005704,-0.378701,0.154331,-0.234116,-0.560149,-0.119254,-0.059475,-0.008258,...,-0.236710,-0.376359,-0.820016,0.558511,0.151945,0.062011,0.422854,-0.135470,0.118909,-0.317072
770,1.729501,1.116013,-0.245841,-0.812145,0.180497,0.225454,0.445863,-0.410924,0.201336,0.783885,...,-0.228817,-0.278117,-0.132210,-0.509285,-2.001279,1.313549,1.037951,-0.067940,0.049296,-0.284802
771,1.735324,1.028469,-0.072398,-0.477306,0.889893,-0.199792,-0.290945,-0.120580,0.104636,0.504365,...,-0.513088,-0.185071,-0.046529,-0.046575,0.121692,1.210185,-0.689105,0.034042,0.116107,-0.277569

In [155]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scale,y , test_size=0.20, random_state=41,stratify=df['Class'])

#Balancing the data

In [156]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)
balanced_df = pd.concat([X_resampled, y_resampled], axis=1).sample(frac=1,random_state=12)

#Balanced Data

In [157]:
Z=1.96
E=0.05
p=0.5
random_sample_size = math.floor((Z**2*p*(1-p))/(E**2))  
print("Sample Size : ",random_sample_size)
random_sample = balanced_df.sample(n=random_sample_size, replace=False,random_state=8)
print("Count of Different Classes in Sample")
random_sample['Class'].value_counts()

Sample Size :  384
Count of Different Classes in Sample

0    201
1    183
Name: Class, dtype: int64

#Stratified Sample

In [158]:
Z=1.96
E=0.1
p=0.5
S=balanced_df['Class'].nunique()
stratified_sample_size = math.floor((Z**2*p*(1-p))/((E/S)**2))     # sample size = (Z^2*p*(1-p))/(E/S)^2
print("Sample Size : ",stratified_sample_size)
stratified_sample=balanced_df.groupby('Class', group_keys=False).apply(lambda x: x.sample(int(stratified_sample_size/S),random_state=23))
print("Count of Different Classes in Sample")
stratified_sample['Class'].value_counts()

Sample Size :  384
Count of Different Classes in Sample

0    192
1    192
Name: Class, dtype: int64

#K means Clustering

In [159]:
from sklearn.cluster import KMeans
Z=1.96
E=0.2555
p=0.5
C=5
cluster_sample_size = math.floor((Z**2*p*(1-p))/((E/C)**2))     # sample size = (Z^2*p*(1-p))/(E/C)^2
print("Sample Size : ",cluster_sample_size)
kmeans = KMeans(n_clusters=C,random_state=18)
kmeans.fit(balanced_df.values)
labels = kmeans.labels_
cluster_sample = balanced_df[labels==2]
print("Count of Different Classes in Sample")
print(cluster_sample['Class'].value_counts())

Sample Size :  367
Count of Different Classes in Sample
0    283
1    103
Name: Class, dtype: int64

#Convenience Sample

In [160]:
Z=1.96
E=0.05
p=0.5
convenience_sample_size = math.floor((Z**2*p*(1-p))/(E**2))     # sample size = (Z^2*p*(1-p))/E^2
print("Sample Size : ",convenience_sample_size)
convenience_sample = balanced_df.head(n=convenience_sample_size)
print("Count of Different Classes in Sample")
convenience_sample['Class'].value_counts()

Sample Size :  384
Count of Different Classes in Sample

1    198
0    186
Name: Class, dtype: int64

#Systematic Sample

In [161]:
def systematic_sample(df, sample_size, start):
    return df.iloc[[int(start + i * step) for i in range(sample_size)]]
Z=1.96
E=0.05
p=0.5
systematic_sample_size = math.floor((Z**2*p*(1-p))/(E**2))     # sample size = (Z^2*p*(1-p))/E^2
print("Sample Size : ",systematic_sample_size)
step = len(df) / systematic_sample_size
start = random.uniform(0, step)
systematic_sample = systematic_sample(balanced_df, systematic_sample_size, start)
print("Count of Different Classes in Sample")
systematic_sample['Class'].value_counts()

Sample Size :  384
Count of Different Classes in Sample

0    201
1    183
Name: Class, dtype: int64

#Model Training

In [162]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RidgeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

models = {
    'Random Forest': RandomForestClassifier(random_state=27),
    'Decision Tree': DecisionTreeClassifier(random_state=28),
    'Gaussian Naive Bayes': GaussianNB(),
    'Logistic Regression': LogisticRegression(max_iter=1000,random_state=15),
    'Ridge Classifier': RidgeClassifier(random_state=12)
}
samples={'Random Sampling':random_sample,'Systematic Sampling':systematic_sample,'Stratified Sampling':stratified_sample,'Cluster Sampling':cluster_sample,'Convenience Sampling':convenience_sample}

In [163]:
result=[]
for model_name,model in models.items():
  accs=[]
  for sample_name,sample in samples.items():
      model.fit(sample.drop('Class',axis=1), sample['Class'])
      y_pred = model.predict(X_test)
      acc = accuracy_score(y_test, y_pred)
      accs.append(acc)
  result.append(accs)

#Accuracy

In [167]:
columns=list(samples.keys())
rownames=list(list(models.keys()))
Accuracy=pd.DataFrame(result,columns=columns,index=rownames)

In [168]:
Accuracy

,Random Sampling,Systematic Sampling,Stratified Sampling,Cluster Sampling,Convenience Sampling
Random Forest,0.987097,0.974194,0.987097,0.987097,0.987097
Decision Tree,0.941935,0.941935,0.941935,0.896774,0.922581
Gaussian Naive Bayes,0.806452,0.780645,0.819355,0.987097,0.832258
Logistic Regression,0.858065,0.883871,0.858065,0.832258,0.870968
Ridge Classifier,0.806452,0.832258,0.800000,0.554839,0.832258